   p  { 
 color:    olive ; 
 font-size:  67px; 
       } 
                       @import url("cztery_pierwsze_litery_nazwiska_z5_1.css "); 
                         /*  Romanchenko Z5_1html  16.01.2026  */ 